html {
  background-color: #f7f7f7;
}

/* CardViews */
.grid-view {
  display: flex;
  flex-direction: column;

  .card-image {
    object-fit: fill;
    aspect-ratio: 4/3;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    .menu-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 8px;
      position: relative;

      icon {
        color: grey.500;
      }
    }
  }

  .card-content {
    flex-grow: 1;

    &:last-child {
      padding-bottom: 16px;
    }
  }
}

.list-view {
  display: flex;
  flex-direction: row;

  .card-image {
    width: 200px;
    height: 150px;
    object-fit: fill;
    aspect-ratio: 4/3;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;

    .content {
      flex-grow: 1;

      > :last-child {
        bottom: 10px;
        position: absolute;
      }
    }
  }

  .card-content {
    flex-grow: 1;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .menu-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
        position: relative;

        .icon {
          color: grey.500;
        }
      }
    }
  }
}

/* PagePagination */
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

/* CardSingle */
.single-view {
  margin: 0 auto;

  .card-image {
    width: 100%;
    max-width: 600px;
    align-self: center;

    @media only screen and (max-width: 600px) {
      padding-bottom: 32px;
    }
  }

  .content {
    padding-left: 16px;

    .subtitle1 {
      margin-top: -3px;
    }

    .contact {
      margin-top: 32px;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }

      .left-grid {
        margin-left: auto;
        margin-top: -10px;

        .icon-btn {
          display: inline;

          @media only screen and (min-width: 600px) {
            display: none;
          }
        }

        .social-section {
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media only screen and (min-width: 600px) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
          }

          .social-icons {
            display: none;

            @media only screen and (min-width: 600px) {
              display: flex;
            }
          }
        }
      }
    }
  }
}
